.row{
    --bs-gutter-x: 40px;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.clearfix::after {
    content: "";
  
    display: block;
  
    clear: both;
  
  }
  .sej-article-head {
    min-height: 70px;
  }
  .sej-stitle{
    font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  word-wrap: break-word;
  letter-spacing: 0.1px;
  }
  .cintro {
    font-size: 19px;
    font-weight: 300;
  }
  @media screen and (min-width: 1024px) {
    .sej-article, .sej-article-head, .sej-under-post {
      padding-right: 25px;
    }
  }
  